.parent-block{
	display: flex;
	flex-direction: row;
	width:100%;
}
.slide-block{
	display: inline-block;
	margin-right:20px;
	margin-top:10px;
	width:472px;
}
.info-block{
	//raise the card info block to give a 3d appearance with shadow
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	display: inline-block;
	margin-right:20px;
	margin-top:10px;
	width:450px;
	border: 1px solid black;
	padding: 10px;
}

.title{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .6em;
}

.area-block{
	padding: 1em;
	flex:1;
}


.button-block{
	margin-top:20px;
	width:100%;
}
.button-block button{
	margin-right:20px;
	margin-bottom:15px;
	width:200px;
}

