.info-block{
	//raise the card info block to give a 3d appearance with shadow
	box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
	display: inline-block;
	border: 1px solid black;
	padding: 1em;
	position:absolute;
	right:10px;
	top:10px;
}

.title{
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: .6em;
}

.card-block{
	display:inline-block;
	border: 1px solid black;
	padding: 1em;
	margin-right: 29em;
	margin-top:1em;
}
.card{
	display:inline-block;
	
}
.card img{
	width:100px;
	
	margin-right:15px;
}

.button-block{
	margin-top:10px;
}
.button-block button{
	margin-right:5px;
	padding: 0.5em 1em;
	font-size: 1em;
}